.header {
  max-width: 1920px;
  margin: 18px auto 0;

  &__container {
    padding: 0 15px;
  }
  &__inner {
    padding: 20px;
    background-color: #ffcf00;
    border-radius: 8px;
    position: relative;
  }
}
.account {
  &__item {
    padding-right: 30px;
  }
  &__item:last-child {
    padding-right: 0px;
  }
  &__item-photo {
    position: relative;
  }
  &__link-notif {
    position: relative;
    span {
      position: absolute;
      top: -10px;
      right: -8px;
      width: 18px;
      height: 18px;
      background-color: #f87c7c;
      border-radius: 50%;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
    }
  }
  &__link-profile {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
    background-color: #f87c7c;
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }
  &__link-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #373435;
  }
  &__modal {
    max-width: 218px;
    width: 100%;
    padding: 20px 20px 10px;
    text-align: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;

    position: absolute;
    right: 0;
    z-index: 10;
    top: 98px;
    opacity: 0;
    visibility: hidden;
    transition: ease 0.3s;
    &--open {
      visibility: visible;
      opacity: 1;
      transition: ease 0.3s;
    }
    .account__link-profile {
      position: relative;
      &::after {
        position: absolute;
        right: -10px;
        top: -10px;
        content: "";
        background-image: url("../images/header/karandash.svg");
        width: 25px;
        height: 25px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  &__modal-pswrd {
    font-size: 14px;
    line-height: 17px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;
    padding: 10px 20px 11px;
    margin: 10px 0 15px;
  }
  &__modal-logout {
    background: #fe3232;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 5px 28px 6px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-top: 7px;
    .container {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .header__inner {
    padding: 5px 10px;
  }
  .logo {
    width: 140px;
  }
  .account__link-name {
    display: none;
  }

  .account__item {
    padding-right: 12px;
  }
  .account__link-profile {
    font-size: 26px;
    line-height: 32px;
    width: 50px;
    height: 50px;
  }
  .account__modal {
    top: 60px;
  }
}
