html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  max-width: 1920px;
  margin: 18px auto 0;
}

.header__container {
  padding: 0 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #ffcf00;
  border-radius: 8px;
}

.section {
  margin-top: 164px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.account__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account__item {
  padding-right: 30px;
}

.account__item:last-child {
  padding-right: 0px;
}

.account__link-notif {
  position: relative;
}

.account__link-notif span {
  position: absolute;
  top: -10px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #f87c7c;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.account__link-profile {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  background-color: #f87c7c;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account__link-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
}

.stat {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stat .swiper-stat {
  overflow-x: hidden;
  padding: 10px 5px 20px;
  margin: 20px 47px 0;
}

.stat__inner {
  padding: 30px 21px 50px;
  width: 100%;
  height: 100%;
  position: relative;
}

.stat__item {
  width: 400px;
  min-height: 240px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat__item-icon {
  width: 55px;
  height: 55px;
}

.stat__item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding: 20px 5px;
}

.stat__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 0 5px;
}

.stat .swiper-button {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background: #d1d1d0;
  border-radius: 50px;
  background-size: contain;
  padding: 15px 13px;
}

.stat .swiper-button::after {
  font-size: 0;
  width: 14px;
  height: 13px;
  background-repeat: no-repeat;
}

.stat .swiper-button:active {
  background-color: #ffcf00;
}

.stat .swiper-button-prev {
  left: 0;
}

.stat .swiper-button-prev::after {
  background-image: url("../images/arr-left.svg");
}

.stat .swiper-button-next {
  right: 0;
}

.stat .swiper-button-next::after {
  background-image: url("../images/arr-right.svg");
}

.stat .swiper-pagination-bullet {
  display: none;
  width: 25px;
  border-radius: 2px;
  height: 5px;
}

.stat .swiper-pagination-bullet-active {
  background-color: #ffcf00;
}

.functions__list {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functions__item {
  max-width: 100%;
}

.functions__item-link {
  width: 293px;
  height: 180px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.functions__item-title {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-top: 16px;
}

.marks-list__inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

.marks-list__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #373435;
}

.marks-list__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.marks-list__years {
  background: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
}

.marks-list__years-item:first-child .marks-list__years-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.marks-list__years-item:last-child .marks-list__years-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.marks-list__years-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
  padding: 10px 10px;
  display: inline-block;
}

.marks-list__years-link--active {
  background-color: #ffcf00;
}

.marks-list__months {
  background: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.marks-list__months-item:first-child .marks-list__months-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 30px;
}

.marks-list__months-item:last-child .marks-list__months-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 30px;
}

.marks-list__months-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
  display: inline-block;
  padding: 10px 15px;
}

.marks-list__months-link--active {
  background-color: #ffcf00;
}

.marks-table {
  padding-bottom: 40px;
}

.marks-table__wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.marks-table__rules-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 25px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marks-table__rules-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

.marks-table__icon {
  width: 26px;
  height: 26px;
  margin: 0 1px 1px;
}

.marks-table__rules-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
}

.marks-table__table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.marks-table__table {
  border-collapse: collapse;
  width: 100%;
}

.marks-table__thread {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
  overflow: auto;
  display: block;
}

.marks-table__thread-tr th {
  border: 1px solid #d9d9d9;
  height: 70px;
  font-weight: 500 !important;
}

.marks-table__thread-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  width: 60px;
  text-align: center;
  padding-left: 22px;
  padding-right: 25px;
}

.marks-table__thread-name {
  padding-left: 20px;
  padding-right: 5px;
  min-width: 425px;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  text-align: left;
}

.marks-table__thread-date {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
  min-width: 60px;
  max-width: 60px;
}

.marks-table__thread-progress {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 80px;
  max-width: 80px;
}

.marks-table__thread-ABS {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 45px;
  max-width: 45px;
}

.marks-table__tbody {
  overflow: auto;
  height: 800px;
  display: block;
}

.marks-table__tbody-wrapper {
  overflow-y: auto;
  height: 70px;
}

.marks-table__tbody-tr {
  border: 1px solid #d9d9d9;
}

.marks-table__tbody td {
  border: none;
  border-left: 1px solid #d9d9d9;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 100%;
}

.marks-table__tbody-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #373435;
  text-align: center;
}

.marks-table__tbody-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}

.marks-table__tbody-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #373435;
  padding-left: 20px;
  padding-right: 5px;
  min-width: 425px;
  max-width: 426px;
}

.marks-table__tbody-name--active {
  background-color: #51cd74;
  color: #fff;
}

.marks-table__tbody-date {
  min-width: 60px;
  max-width: 60px;
}

.marks-table__tbody-date-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.marks-table__tbody-progress {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 80px;
  max-width: 80px;
}

.marks-table__tbody-ABS {
  min-width: 45px;
  max-width: 45px;
}

@media (max-width: 768px) {
  .marks-table__thread-tr th {
    height: 50px;
    background-color: #d9d9d970;
  }
  .marks-table__tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .marks-list .container,
  .marks-table .container {
    padding: 0 5px;
  }
  .marks-list__inner {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .marks-table__rules-inner {
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .marks-list__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .marks-list__years {
    margin-bottom: 15px;
    margin-right: 0;
    max-width: 339px;
  }
  .marks-list__years-item:first-child .marks-list__years-link {
    border-bottom-left-radius: 0;
  }
  .marks-list__years-item:nth-child(6) .marks-list__years-link {
    border-top-right-radius: 8px;
  }
  .marks-list__years-item:nth-child(7) .marks-list__years-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    text-align: right;
  }
  .marks-list__years-link {
    font-size: 16px;
    width: 100%;
    line-height: 20px;
  }
  .marks-list__months {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .marks-list__months-item:first-child .marks-list__months-link {
    border-bottom-left-radius: 0;
    padding-left: 20px;
  }
  .marks-list__months-item:nth-child(6) .marks-list__months-link {
    border-top-right-radius: 8px;
    padding-right: 20px;
  }
  .marks-list__months-item:nth-child(7) .marks-list__months-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    text-align: right;
    padding-left: 20px;
  }
  .marks-list__months-item:last-child .marks-list__months-link {
    border-top-right-radius: 0px;
    padding-right: 20px;
  }
  .marks-list__months-item:nth-child(-n + 6) {
    border-bottom: 1px solid #dcdcdc;
  }
  .marks-list__months-link {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }
}

@media (max-width: 425px) {
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .account__link-name {
    display: none;
  }
  .logo {
    width: 140px;
  }
  .account__item {
    padding-right: 12px;
  }
  .account__link-profile {
    font-size: 26px;
    line-height: 32px;
    width: 50px;
    height: 50px;
  }
  .header {
    margin-top: 7px;
  }
  .header .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header__inner {
    padding: 5px 10px;
  }
  .stat__inner {
    padding: 0 0 30px;
  }
  .stat .swiper-stat {
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px 0 0;
  }
  .stat__item-title {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 32px;
  }
  .stat__item-text {
    font-size: 18px;
  }
  .stat__item {
    min-height: 180px;
    padding: 5px 0;
  }
  .stat__item-icon {
    width: 40px;
    height: 40px;
  }
  .stat .swiper-button {
    top: auto;
    bottom: 0;
  }
  .stat .swiper-button.swiper-button-next {
    right: 15%;
  }
  .stat .swiper-button.swiper-button-prev {
    left: 15%;
  }
  .functions .container {
    padding: 0 10px;
  }
  .functions__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    display: -ms-grid;
    display: grid;
    padding: 0 8px 50px;
  }
  .functions__item-link {
    width: 100%;
    height: 120px;
    -webkit-box-shadow: 0px 4px 8px rgba(79, 79, 79, 0.15);
            box-shadow: 0px 4px 8px rgba(79, 79, 79, 0.15);
  }
  .functions__item-link img {
    width: 40px;
  }
}
/*# sourceMappingURL=main.css.map */