@import "reset";
@import "global";

.dflex {
  display: flex;
}
.dflex-jcsb {
  display: flex;
  justify-content: space-between;
}
.dflex-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dflex-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "header";

.section {
  margin-top: 164px;
}
.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.stat {
  margin-top: 30px;
  margin-bottom: 30px;
  .swiper-stat {
    overflow-x: hidden;
    padding: 10px 5px 20px;
    margin: 20px 47px 0;
  }
  &__inner {
    padding: 30px 21px 50px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__item {
    width: 400px;
    min-height: 240px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;

    text-align: center;
    font-size: 18px;
    background: #fff;
    flex-direction: column;
  }
  &__item-icon {
    width: 70px;
    height: 70px;
  }
  &__item-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    padding: 10px 5px 0;
  }
  &__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 0 5px;
    &-name {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding-top: 20px;
    }
  }
  &__item-debt {
    background: #ea5455;
    border-radius: 9px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 25px 5px;
  }

  .swiper-button {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background: #d1d1d0;
    border-radius: 50px;
    background-size: contain;
    padding: 15px 13px;
    &::after {
      font-size: 0;
      width: 14px;
      height: 13px;
      background-repeat: no-repeat;
    }
    &:active {
      background-color: #ffcf00;
    }
  }
  .swiper-button-prev {
    left: 0;
    &::after {
      background-image: url("../images/arr-left.svg");
    }
  }
  .swiper-button-next {
    right: 0;
    &::after {
      background-image: url("../images/arr-right.svg");
    }
  }
  .swiper-pagination-bullet {
    display: none;
    width: 25px;
    border-radius: 2px;
    height: 5px;
    &-active {
      background-color: #ffcf00;
    }
  }
}
.functions {
  &__list {
    padding-bottom: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    max-width: 100%;
  }
  &__item-link {
    width: 293px;
    height: 180px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;
    flex-direction: column;
  }
  &__item-title {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    margin-top: 16px;
  }
}
.hw-accordions {
  padding: 90px 0;
  $midnight: #fff;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // Layout
  .row {
    display: flex;
    .col {
      flex: 1;
      &:last-child {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
  }
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
  }
  .tab {
    // border-left: 4px solid #000000;
    box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
    width: 100%;
    color: rgba(0, 0, 0, 0.92);
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 8px;
    &:nth-child(4n + 1) {
      border-left: 4px solid #00c2ff;
    }
    &:nth-child(4n + 2) {
      border-left: 4px solid #51cd74;
    }
    &:nth-child(4n + 3) {
      border-left: 4px solid #fe3232;
    }
    &:nth-child(4n + 4) {
      border-left: 4px solid #ffcf00;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 0px 40px;
      background: $midnight;
      font-weight: bold;
      cursor: pointer;

      &__inner {
        width: 100%;
        padding-right: 35px;
      }
      span {
        padding-top: 17px;
      }
      &::after {
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        width: 15px;
        height: 10px;
        padding-right: 16px;
        text-align: center;
        transition: all 0.35s;
        background-image: url("../images/arrow.svg");
      }
    }
    &__item-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      width: 100%;
    }
    &__item-pdf {
      margin-right: 50px;
      max-width: 155px;
      width: 100%;
      &-link {
        display: flex;
        justify-content: center;
        padding: 3px;
        max-width: 155px;
        height: 33px;
        width: 100%;
        background: rgba(113, 144, 255, 0.6);
        border-radius: 26px;
        align-self: end;
      }
    }
    &__item-date {
      background: rgba(248, 137, 147, 0.75);
      border-radius: 26px;
      padding: 6px;
      color: #fff;
      text-align: center;
      max-width: 195px;
      width: 100%;
      height: 33px;
    }
    &-content {
      max-height: 0;
      padding: 20px 40px 50px;
      color: rgba(0, 0, 0, 0.67);
      transition: all 0.35s;
      line-height: 40px;
      font-weight: 500;
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      background-color: #fff;
      &::after {
        transform: rotate(-180deg);
      }
    }
    ~ .tab-content {
      transition: all 0.35s;
      max-height: 100vh;
      padding: 27px 40px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.9);
    }
  }
}

.extra-lessons {
  background-color: rgba(217, 217, 217, 0.35);
  margin-top: 50px;
  margin-bottom: 50px;
  &__inner {
    padding: 50px 0;
    overflow: auto;
  }
  &__table {
    background: #fcfcfc;
    // border: 1px solid #e1e1e1;
    border-collapse: collapse;
    width: 100%;
  }
  &__thead {
  }
  &__th {
    text-transform: capitalize;
    max-width: 175px;
    &:first-child {
      padding: 0px 10px;
    }
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      background: #ffcf01;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 8px 8px;
      padding: 16px 20px 17px 27px;
      max-width: 175px;
      width: 100%;
      display: inline-block;
    }
    &:first-child {
      border: 1px solid #e1e1e1;

      p {
        border-radius: none;
        background-color: #fff;
      }
    }
    &:last-child p {
      background: #fe3232;
    }
  }
  &__tbody {
  }
  &__tr {
    .extra-lessons__td:first-child {
      font-size: 20px;
      line-height: 26px;
      cursor: auto;
    }
  }
  &__td {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #e1e1e1;
    cursor: pointer;
    padding: 5px;
  }
  &__new-student {
    background: linear-gradient(0deg, #51cd74, #51cd74), #51cd74;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
  }
  &__requested {
    background: #ffcf01;
    color: #fff;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
  }
  &__empty-item {
    font-size: 16px;
    line-height: 21px;
  }
}

.profile {
  margin-top: 90px;
  &__inner {
    background: linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
    border-radius: 12px;
    // flex-wrap: wrap;
  }
  &__img {
    max-width: 330px;
    width: 100%;
    padding: 20px 0px 20px 20px;
  }
  &__content {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.56);
    padding: 20px;
    max-width: 75%;
    width: 100%;
  }
  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #6e6e6e;
    margin-bottom: 50px;
  }
  &__content-inner {
    grid-gap: 50px;
    // flex-wrap: wrap;
  }
  &__content-block {
    max-width: 450px;
  }
  &__content-block-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 28px;
    color: #6f6f6f;
  }
  &__content-block-text {
  }
}

.modal-office-hours {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;

  &-show {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  &-hide {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 38px;
    padding: 30px 30px 50px;
    max-width: 1410px;
    width: 100%;
  }
  &__top {
    &-close {
      cursor: pointer;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    color: #6f6f6f;
  }
  &__body {
    overflow-x: auto;
  }
  &__list {
    grid-gap: 15px;
    padding: 5px;
    margin-bottom: 10px;
  }
  &__body-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6f6f6f;
    margin-bottom: 20px;
  }
  &__list-item {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
    border-radius: 8px;
    padding: 18px;
    &:nth-child(1) {
      border-left: 4px solid #51cd74;
    }
    &:nth-child(2) {
      border-left: 4px solid #ffcf00;
    }
    &:nth-child(3) {
      border-left: 4px solid #69c9ff;
    }
  }
  &__item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #6f6f6f;
  }
  &__item-btns {
  }
  &__item-btn {
    cursor: pointer;
    background: linear-gradient(180deg, #fe3232 0%, #de0000 100%);
    box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
    border-radius: 8px;
    padding: 8px 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    outline: none;
    border: none;
  }
  &__bottom {
    display: flex;
    justify-content: end;
    grid-gap: 10px;
  }
  &__bottom-btn {
    margin-top: 60px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 20px;
    color: #ffffff;
    outline: none;
    border: none;

    &-approve {
      background: linear-gradient(180deg, #51cd74 0%, #4bc26c 100%);
      box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
      border-radius: 8px;
      &-all {
        background: linear-gradient(180deg, #51cd74 0%, #4bc26c 100%);
        box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
        border-radius: 8px;
      }
    }
    &-close {
      background: #bbbbbb;
      box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
      border-radius: 8px;
      color: #fff;
    }
  }
  .dgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
  }
}

@import "mymarks";
@import "library";
@import "media";
