html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: #2B2A29;
}

a {
  color: #2B2A29;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dflex-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dflex-jcsb-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-jcc-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  max-width: 1920px;
  margin: 18px auto 0;
}

.header__container {
  padding: 0 15px;
}

.header__inner {
  padding: 20px;
  background-color: #ffcf00;
  border-radius: 8px;
  position: relative;
}

.account__item {
  padding-right: 30px;
}

.account__item:last-child {
  padding-right: 0px;
}

.account__item-photo {
  position: relative;
}

.account__link-notif {
  position: relative;
}

.account__link-notif span {
  position: absolute;
  top: -10px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #f87c7c;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.account__link-profile {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  background-color: #f87c7c;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.account__link-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
}

.account__modal {
  max-width: 218px;
  width: 100%;
  padding: 20px 20px 10px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 98px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.account__modal--open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.account__modal .account__link-profile {
  position: relative;
}

.account__modal .account__link-profile::after {
  position: absolute;
  right: -10px;
  top: -10px;
  content: "";
  background-image: url("../images/header/karandash.svg");
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}

.account__modal-pswrd {
  font-size: 14px;
  line-height: 17px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  padding: 10px 20px 11px;
  margin: 10px 0 15px;
}

.account__modal-logout {
  background: #fe3232;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 5px 28px 6px;
}

@media (max-width: 768px) {
  .header {
    margin-top: 7px;
  }
  .header .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header__inner {
    padding: 5px 10px;
  }
  .logo {
    width: 140px;
  }
  .account__link-name {
    display: none;
  }
  .account__item {
    padding-right: 12px;
  }
  .account__link-profile {
    font-size: 26px;
    line-height: 32px;
    width: 50px;
    height: 50px;
  }
  .account__modal {
    top: 60px;
  }
}

.section {
  margin-top: 164px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.stat {
  margin-top: 30px;
  margin-bottom: 30px;
}

.stat .swiper-stat {
  overflow-x: hidden;
  padding: 10px 5px 20px;
  margin: 20px 47px 0;
}

.stat__inner {
  padding: 30px 21px 50px;
  width: 100%;
  height: 100%;
  position: relative;
}

.stat__item {
  width: 400px;
  min-height: 240px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stat__item-icon {
  width: 70px;
  height: 70px;
}

.stat__item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding: 10px 5px 0;
}

.stat__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 0 5px;
}

.stat__item-text-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
}

.stat__item-debt {
  background: #ea5455;
  border-radius: 9px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 25px 5px;
}

.stat .swiper-button {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background: #d1d1d0;
  border-radius: 50px;
  background-size: contain;
  padding: 15px 13px;
}

.stat .swiper-button::after {
  font-size: 0;
  width: 14px;
  height: 13px;
  background-repeat: no-repeat;
}

.stat .swiper-button:active {
  background-color: #ffcf00;
}

.stat .swiper-button-prev {
  left: 0;
}

.stat .swiper-button-prev::after {
  background-image: url("../images/arr-left.svg");
}

.stat .swiper-button-next {
  right: 0;
}

.stat .swiper-button-next::after {
  background-image: url("../images/arr-right.svg");
}

.stat .swiper-pagination-bullet {
  display: none;
  width: 25px;
  border-radius: 2px;
  height: 5px;
}

.stat .swiper-pagination-bullet-active {
  background-color: #ffcf00;
}

.functions__list {
  padding-bottom: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functions__item {
  max-width: 100%;
}

.functions__item-link {
  width: 293px;
  height: 180px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.functions__item-title {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-top: 16px;
}

.hw-accordions {
  padding: 90px 0;
  /* Accordion styles */
}

.hw-accordions input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.hw-accordions .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hw-accordions .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hw-accordions .row .col:last-child {
  margin-left: -16px;
  margin-right: -16px;
}

.hw-accordions .tabs {
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
}

.hw-accordions .tab {
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  width: 100%;
  color: rgba(0, 0, 0, 0.92);
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 8px;
}

.hw-accordions .tab:nth-child(4n + 1) {
  border-left: 4px solid #00c2ff;
}

.hw-accordions .tab:nth-child(4n + 2) {
  border-left: 4px solid #51cd74;
}

.hw-accordions .tab:nth-child(4n + 3) {
  border-left: 4px solid #fe3232;
}

.hw-accordions .tab:nth-child(4n + 4) {
  border-left: 4px solid #ffcf00;
}

.hw-accordions .tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 0px 40px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
}

.hw-accordions .tab-label__inner {
  width: 100%;
  padding-right: 35px;
}

.hw-accordions .tab-label span {
  padding-top: 17px;
}

.hw-accordions .tab-label::after {
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 15px;
  height: 10px;
  padding-right: 16px;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background-image: url("../images/arrow.svg");
}

.hw-accordions .tab__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}

.hw-accordions .tab__item-pdf {
  margin-right: 50px;
  max-width: 155px;
  width: 100%;
}

.hw-accordions .tab__item-pdf-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  max-width: 155px;
  height: 33px;
  width: 100%;
  background: rgba(113, 144, 255, 0.6);
  border-radius: 26px;
  -ms-flex-item-align: end;
      align-self: end;
}

.hw-accordions .tab__item-date {
  background: rgba(248, 137, 147, 0.75);
  border-radius: 26px;
  padding: 6px;
  color: #fff;
  text-align: center;
  max-width: 195px;
  width: 100%;
  height: 33px;
}

.hw-accordions .tab-content {
  max-height: 0;
  padding: 20px 40px 50px;
  color: rgba(0, 0, 0, 0.67);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  line-height: 40px;
  font-weight: 500;
}

.hw-accordions input:checked + .tab-label {
  background-color: #fff;
}

.hw-accordions input:checked + .tab-label::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hw-accordions input:checked ~ .tab-content {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  max-height: 100vh;
  padding: 27px 40px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.9);
}

.extra-lessons {
  background-color: rgba(217, 217, 217, 0.35);
  margin-top: 50px;
  margin-bottom: 50px;
}

.extra-lessons__inner {
  padding: 50px 0;
  overflow: auto;
}

.extra-lessons__table {
  background: #fcfcfc;
  border-collapse: collapse;
  width: 100%;
}

.extra-lessons__th {
  text-transform: capitalize;
  max-width: 175px;
}

.extra-lessons__th:first-child {
  padding: 0px 10px;
}

.extra-lessons__th p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: #ffcf01;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 8px 8px;
  padding: 16px 20px 17px 27px;
  max-width: 175px;
  width: 100%;
  display: inline-block;
}

.extra-lessons__th:first-child {
  border: 1px solid #e1e1e1;
}

.extra-lessons__th:first-child p {
  border-radius: none;
  background-color: #fff;
}

.extra-lessons__th:last-child p {
  background: #fe3232;
}

.extra-lessons__tr .extra-lessons__td:first-child {
  font-size: 20px;
  line-height: 26px;
  cursor: auto;
}

.extra-lessons__td {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e1e1e1;
  cursor: pointer;
  padding: 5px;
}

.extra-lessons__new-student {
  background: -webkit-gradient(linear, left bottom, left top, from(#51cd74), to(#51cd74)), #51cd74;
  background: linear-gradient(0deg, #51cd74, #51cd74), #51cd74;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.extra-lessons__requested {
  background: #ffcf01;
  color: #fff;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 5px;
  font-weight: 600;
}

.extra-lessons__empty-item {
  font-size: 16px;
  line-height: 21px;
}

.profile {
  margin-top: 90px;
}

.profile__inner {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
  background: linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
}

.profile__img {
  max-width: 330px;
  width: 100%;
  padding: 20px 0px 20px 20px;
}

.profile__content {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.56);
  padding: 20px;
  max-width: 75%;
  width: 100%;
}

.profile__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #6e6e6e;
  margin-bottom: 50px;
}

.profile__content-inner {
  grid-gap: 50px;
}

.profile__content-block {
  max-width: 450px;
}

.profile__content-block-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 28px;
  color: #6f6f6f;
}

.modal-office-hours {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.modal-office-hours-show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal-office-hours-hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal-office-hours__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 38px;
  padding: 30px 30px 50px;
  max-width: 1410px;
  width: 100%;
}

.modal-office-hours__top-close {
  cursor: pointer;
}

.modal-office-hours__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  color: #6f6f6f;
}

.modal-office-hours__body {
  overflow-x: auto;
}

.modal-office-hours__list {
  grid-gap: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.modal-office-hours__body-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #6f6f6f;
  margin-bottom: 20px;
}

.modal-office-hours__list-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
  padding: 18px;
}

.modal-office-hours__list-item:nth-child(1) {
  border-left: 4px solid #51cd74;
}

.modal-office-hours__list-item:nth-child(2) {
  border-left: 4px solid #ffcf00;
}

.modal-office-hours__list-item:nth-child(3) {
  border-left: 4px solid #69c9ff;
}

.modal-office-hours__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6f6f6f;
}

.modal-office-hours__item-btn {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe3232), to(#de0000));
  background: linear-gradient(180deg, #fe3232 0%, #de0000 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
  padding: 8px 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  outline: none;
  border: none;
}

.modal-office-hours__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-gap: 10px;
}

.modal-office-hours__bottom-btn {
  margin-top: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px;
  color: #ffffff;
  outline: none;
  border: none;
}

.modal-office-hours__bottom-btn-approve {
  background: -webkit-gradient(linear, left top, left bottom, from(#51cd74), to(#4bc26c));
  background: linear-gradient(180deg, #51cd74 0%, #4bc26c 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
}

.modal-office-hours__bottom-btn-approve-all {
  background: -webkit-gradient(linear, left top, left bottom, from(#51cd74), to(#4bc26c));
  background: linear-gradient(180deg, #51cd74 0%, #4bc26c 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
}

.modal-office-hours__bottom-btn-close {
  background: #bbbbbb;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
  color: #fff;
}

.modal-office-hours .dgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
}

.marks-list__inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

.marks-list__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #373435;
}

.marks-list__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.marks-list__years {
  background: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
}

.marks-list__years-item:first-child .marks-list__years-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.marks-list__years-item:last-child .marks-list__years-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.marks-list__years-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
  padding: 10px 10px;
  display: inline-block;
}

.marks-list__years-link--active {
  background-color: #ffcf00;
}

.marks-list__months {
  background: #fcfcfc;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.marks-list__months-item:first-child .marks-list__months-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 30px;
}

.marks-list__months-item:last-child .marks-list__months-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 30px;
}

.marks-list__months-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #373435;
  display: inline-block;
  padding: 10px 15px;
}

.marks-list__months-link--active {
  background-color: #ffcf00;
}

.marks-table {
  padding-bottom: 40px;
}

.marks-table__wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.marks-table__rules-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 25px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marks-table__rules-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

.marks-table__icon {
  width: 26px;
  height: 26px;
  margin: 0 1px 1px;
}

.marks-table__rules-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
}

.marks-table__table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.marks-table__table {
  border-collapse: collapse;
  width: 100%;
}

.marks-table__thread {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
  overflow: auto;
  display: block;
}

.marks-table__thread-tr th {
  border: 1px solid #d9d9d9;
  height: 70px;
  font-weight: 500 !important;
}

.marks-table__thread-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  width: 60px;
  text-align: center;
  padding-left: 22px;
  padding-right: 25px;
}

.marks-table__thread-name {
  padding-left: 20px;
  padding-right: 5px;
  min-width: 425px;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  text-align: left;
}

.marks-table__thread-date {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #373435;
  min-width: 60px;
  max-width: 60px;
}

.marks-table__thread-progress {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 80px;
  max-width: 80px;
}

.marks-table__thread-ABS {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 45px;
  max-width: 45px;
}

.marks-table__tbody {
  overflow: auto;
  height: 800px;
  display: block;
}

.marks-table__tbody-wrapper {
  overflow-y: auto;
  height: 70px;
}

.marks-table__tbody-tr {
  border: 1px solid #d9d9d9;
}

.marks-table__tbody td {
  border: none;
  border-left: 1px solid #d9d9d9;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 100%;
}

.marks-table__tbody-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #373435;
  text-align: center;
}

.marks-table__tbody-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #373435;
  min-width: 60px;
  max-width: 60px;
  text-align: center;
}

.marks-table__tbody-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #373435;
  padding-left: 20px;
  padding-right: 5px;
  min-width: 425px;
  max-width: 426px;
}

.marks-table__tbody-name--active {
  background-color: #51cd74;
  color: #fff;
}

.marks-table__tbody-date {
  min-width: 60px;
  max-width: 60px;
}

.marks-table__tbody-date-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.marks-table__tbody-progress {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 80px;
  max-width: 80px;
}

.marks-table__tbody-ABS {
  min-width: 45px;
  max-width: 45px;
}

.page-library {
  background-image: url("./../images/library/lib-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 100px;
}

.page-library__inner {
  min-height: 100vh;
}

.page-library__top {
  padding-top: 40px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-library__back {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #ffcf00;
  border-radius: 8px;
  padding: 11px 43px 12px;
}

.page-library__back span {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #373435;
}

.page-library__empty {
  padding: 25px;
}

.page-library__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #373737;
}

.page-library__title span {
  padding-right: 12px;
}

.page-library__list-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  text-align: center;
  padding: 30px 70px 50px;
  display: inline-block;
}

.page-library__list-item img {
  margin: 0 auto;
}

.page-library__list-item span {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  padding-top: 30px;
  display: inline-block;
}

.page-library__weekly-asgmt {
  background-image: none;
}

.page-library__stairs {
  text-align: center;
  position: relative;
}

.page-library__stairs-link:hover {
  opacity: 0.8;
}

.page-library__stairs-link:hover ~ .level-2 {
  opacity: 0.8;
}

.page-library .level-1:hover {
  opacity: 0.8;
}

.page-library .level-1:hover ~ svg .stairs-link-1 {
  opacity: 0.8;
}

.page-library .level-2:hover {
  opacity: 0.8;
}

.page-library .level-2:hover ~ svg .stairs-link-2 {
  opacity: 0.8;
}

.page-library .level-3:hover {
  opacity: 0.8;
}

.page-library .level-3:hover ~ svg .stairs-link-3 {
  opacity: 0.8;
}

.page-library .level-4:hover {
  opacity: 0.8;
}

.page-library .level-4:hover ~ svg .stairs-link-4 {
  opacity: 0.8;
}

.page-library .level-5:hover {
  opacity: 0.8;
}

.page-library .level-5:hover ~ svg .stairs-link-5 {
  opacity: 0.8;
}

.page-library .level-6:hover {
  opacity: 0.8;
}

.page-library .level-6:hover ~ svg .stairs-link-6 {
  opacity: 0.8;
}

.page-library__stairs-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.59);
  grid-gap: 18px;
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.page-library__stairs-title > img {
  max-width: 25px;
}

.page-library__stairs-title img {
  display: none;
}

.page-library__stairs-title.level-locked img {
  display: block;
}

.page-library__stairs-title.level-1 {
  bottom: 120px;
  left: 100px;
}

.page-library__stairs-title.level-3 {
  bottom: 380px;
  left: 250px;
}

.page-library__stairs-title.level-5 {
  bottom: 630px;
  left: 430px;
}

.page-library__stairs-title.level-2 {
  bottom: 120px;
  right: 580px;
}

.page-library__stairs-title.level-4 {
  bottom: 380px;
  right: 300px;
}

.page-library__stairs-title.level-6 {
  bottom: 630px;
  right: 185px;
}

.page-library__weeks-list {
  margin-top: 20px;
}

.page-library__weeks-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  color: #2b2a29;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 25px;
  margin-bottom: 15px;
}

.page-library__week {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  grid-gap: 50px;
  color: #373435;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-library__week-item {
  max-width: 45%;
  width: 100%;
}

.page-library__week-title {
  margin-bottom: 20px;
}

.page-library__week-audio {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  max-width: 645px;
  padding: 20px;
  width: 100%;
}

.page-library__week-video-src {
  margin-bottom: 20px;
}

.page-library__week-video-play {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  padding: 20px;
  max-width: 325px;
  width: 100%;
  margin-right: 10px;
  grid-gap: 5px;
}

.page-library__week-video-dwld {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  padding: 20px;
  max-width: 325px;
  width: 100%;
  margin-left: 10px;
}

.video-lessons__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 60px;
}

.video-lessons__list {
  grid-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-lessons__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  max-width: 210px;
  width: 100%;
  padding: 0 14px 28px;
  position: relative;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.video-lessons__item img {
  width: 38px;
  display: none;
}

.video-lessons__item-locked img {
  display: block;
}

.video-lessons__item-locked .video-lessons__item-link {
  display: none;
}

.video-lessons__item-locked .video-lessons__item-top {
  background: #868686;
}

.video-lessons__item-top {
  background: #51cd74;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 0px 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.video-lessons__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6f6f6f;
  margin-bottom: 20px;
}

.video-lessons__item-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  padding: 8px 30px;
  color: #ffffff;
  background: #ffcf00;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 8px;
  width: 138px;
}

.books-lessons__books-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 30px;
  margin-bottom: 80px;
}

.books-lessons__books-item {
  max-width: 210px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  padding: 0 0px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
}

.books-lessons__books-item-inner {
  width: 100%;
}

.books-lessons__item-top {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: #51cd74;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 0px 12px;
  color: #ffffff;
  padding: 19px 8px;
}

.books-lessons__books-item-logo {
  padding: 8px 14px;
}

.books-lessons__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6f6f6f;
}

.books-lessons__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: linear-gradient(88.27deg, #51cd74 6.32%, #299848 146.34%);
  border-radius: 8px;
  color: #ffffff;
  padding: 13px 30px;
}

.books-lessons__audio-list {
  grid-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.books-lessons__audio-unit {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  padding: 25px;
  position: relative;
  max-width: 450px;
  width: 100%;
  height: 100%;
}

.books-lessons__audio-unit-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6f6f6f;
  margin-bottom: 34px;
}

.books-lessons__audio-unit-top {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: #51cd74;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 0px 12px;
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.books-lessons__audio-track {
  margin-bottom: 20px;
}

.books-lessons__audio-track-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #6f6f6f;
  margin-bottom: 16px;
}

.books-lessons__audio-track-item {
  width: 100%;
  color: #6f6f6f;
}

.books-lessons__audio-track-item::-webkit-media-controls-panel {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
}

.books-lessons__audio-track-item::-webkit-media-controls-play-button {
  background-color: #ffcf00;
  border-radius: 50%;
  color: #ffcf00 !important;
}

.books-lessons__audio-track-item::-webkit-media-controls-current-time-display, .books-lessons__audio-track-item::-webkit-media-controls-time-remaining-display {
  color: #6f6f6f;
  font-weight: 600;
}

.books-lessons__audio-track-item-wrap {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
          box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.25);
  border-radius: 12px;
  height: 54px;
}

.books-lessons .audio-player {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  height: 54px;
  font-size: 0.75em;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.books-lessons .audio-player .timeline {
  max-width: 200px;
  width: 100%;
  height: 4px;
  position: relative;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.books-lessons .audio-player .timeline .progress {
  background: #ffcf00;
  border-radius: 12px;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.books-lessons .audio-player .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  grid-gap: 5px;
}

.books-lessons .audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid #51cd74;
}

.books-lessons .audio-player .controls .toggle-play.play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.books-lessons .audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}

.books-lessons .audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #51cd74;
  content: "";
  height: 15px;
  width: 3px;
}

.books-lessons .audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #51cd74;
  content: "";
  height: 15px;
  width: 3px;
}

.books-lessons .audio-player .controls .toggle-play.pause:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.books-lessons .audio-player .controls .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #6f6f6f;
}

.books-lessons .audio-player .controls .time > * {
  padding: 2px;
}

.books-lessons .audio-player .controls .volume-container {
  position: relative;
  z-index: 2;
}

.books-lessons .audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.books-lessons .audio-player .controls .volume-container .volume-button .volume {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #cbcbcb;
  width: 18px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.books-lessons .audio-player .controls .volume-container .volume-button .volume__on {
  background-image: url("../images/books-videos/volume-on.svg");
}

.books-lessons .audio-player .controls .volume-container .volume-button .volume__off {
  background-image: url("../images/books-videos/volume-off.svg");
}

.books-lessons .audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: 0px;
  top: -2px;
  z-index: -1;
  width: 0;
  height: 30px;
  background: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 30px;
}

.books-lessons .audio-player .controls .volume-container .volume-slider__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  margin: 0 15px 0 5px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  z-index: -1;
}

.books-lessons .audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: #373737;
  height: 4px;
  width: 100%;
  border-radius: 12px;
  position: relative;
}

.books-lessons .audio-player .controls .volume-container .volume-slider .volume-percentage__wrap {
  cursor: pointer;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  height: 4px;
}

.books-lessons .audio-player .controls .volume-container .volume-slider .volume-percentage::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #373737;
  position: absolute;
  right: -3px;
  top: -3px;
  visibility: hidden;
}

.books-lessons .audio-player .controls .volume-container:hover .volume-slider {
  left: -105px;
  width: 100px;
}

.books-lessons .audio-player .controls .volume-container:hover .volume-slider__inner {
  padding: 0 15px;
  visibility: visible;
  background: #cbcbcb;
  z-index: 1;
}

.books-lessons .audio-player .controls .volume-container:hover .volume-slider .volume-percentage::after {
  visibility: visible;
}

.books-lessons__audio-unit-locked .books-lessons__audio-unit-top {
  background-color: #868686;
}

@media (max-width: 768px) {
  .marks-table__thread-tr th {
    height: 50px;
    background-color: #d9d9d970;
  }
  .marks-table__tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .marks-list .container,
  .marks-table .container {
    padding: 0 5px;
  }
  .marks-list__inner {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .marks-table__rules-inner {
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .marks-list__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .marks-list__years {
    margin-bottom: 15px;
    margin-right: 0;
    max-width: 339px;
  }
  .marks-list__years-item:first-child .marks-list__years-link {
    border-bottom-left-radius: 0;
  }
  .marks-list__years-item:nth-child(6) .marks-list__years-link {
    border-top-right-radius: 8px;
  }
  .marks-list__years-item:nth-child(7) .marks-list__years-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    text-align: right;
  }
  .marks-list__years-link {
    font-size: 16px;
    width: 100%;
    line-height: 20px;
  }
  .marks-list__months {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .marks-list__months-item:first-child .marks-list__months-link {
    border-bottom-left-radius: 0;
    padding-left: 20px;
  }
  .marks-list__months-item:nth-child(6) .marks-list__months-link {
    border-top-right-radius: 8px;
    padding-right: 20px;
  }
  .marks-list__months-item:nth-child(7) .marks-list__months-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    text-align: right;
    padding-left: 20px;
  }
  .marks-list__months-item:last-child .marks-list__months-link {
    border-top-right-radius: 0px;
    padding-right: 20px;
  }
  .marks-list__months-item:nth-child(-n + 6) {
    border-bottom: 1px solid #dcdcdc;
  }
  .marks-list__months-link {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .account__link-name {
    display: none;
  }
  .logo {
    width: 140px;
  }
  .account__item {
    padding-right: 12px;
  }
  .account__link-profile {
    font-size: 26px;
    line-height: 32px;
    width: 50px;
    height: 50px;
  }
  .header {
    margin-top: 7px;
  }
  .header .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header__inner {
    padding: 5px 10px;
  }
  .stat__inner {
    padding: 0 0 30px;
  }
  .stat .swiper-stat {
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px 0 0;
  }
  .stat__item-title {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 24px;
  }
  .stat__item-text {
    font-size: 12px;
  }
  .stat__item-debt {
    font-size: 11px !important;
    line-height: 16px;
    padding: 4px 7px;
  }
  .stat__item {
    min-height: 180px;
    padding: 5px 0;
  }
  .stat__item-icon {
    width: 40px;
    height: 40px;
  }
  .stat .swiper-button {
    top: auto;
    bottom: 0;
  }
  .stat .swiper-button.swiper-button-next {
    right: 15%;
  }
  .stat .swiper-button.swiper-button-prev {
    left: 15%;
  }
  .functions .container {
    padding: 0 10px;
  }
  .functions__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    display: -ms-grid;
    display: grid;
    padding: 0 8px 50px;
  }
  .functions__item-link {
    width: 100%;
    height: 120px;
    -webkit-box-shadow: 0px 4px 8px rgba(79, 79, 79, 0.15);
            box-shadow: 0px 4px 8px rgba(79, 79, 79, 0.15);
  }
  .functions__item-link img {
    width: 40px;
  }
  .page-library__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .page-library__back {
    margin-bottom: 40px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 11px 34px 12px;
    font-size: 16px;
  }
  .page-library__list {
    text-align: center;
  }
  .page-library__list-item {
    padding: 30px;
  }
  .page-library__list-item img {
    width: 50px;
  }
  .page-library__list-item span {
    font-size: 20px;
    line-height: 24px;
  }
  .page-library__stairs-svg {
    width: 340px;
    height: auto;
  }
  .hw-accordions .tab-label {
    padding: 10px 10px 0px 10px;
  }
  .hw-accordions .tab-label__inner {
    width: 100%;
    padding-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hw-accordions .tab__item-pdf {
    margin: 10px 0;
  }
  .page-library__title img {
    width: 40px;
  }
  .page-library__week-item {
    max-width: 100%;
  }
  .page-library__week-video-play,
  .page-library__week-video-dwld {
    padding: 20px 10px;
  }
  .page-library__week-video-play img,
  .page-library__week-video-dwld img {
    width: 20px;
  }
  .page-library__stairs-title {
    font-size: 10px;
    line-height: 20px;
    grid-gap: 10px;
  }
  .page-library__stairs-title > img {
    width: 12px;
  }
  .page-library__stairs-title.level-1 {
    bottom: 10px;
    left: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .page-library__stairs-title.level-2 {
    bottom: 53px;
    left: 147px;
  }
  .page-library__stairs-title.level-3 {
    bottom: 105px;
    left: 190px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .page-library__stairs-title.level-4 {
    bottom: 195px;
    left: 28px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .page-library__stairs-title.level-5 {
    bottom: 243px;
    left: 60px;
  }
  .page-library__stairs-title.level-6 {
    bottom: 288px;
    left: 210px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .video-lessons__item {
    max-width: 100%;
  }
  .video-lessons__title {
    margin-bottom: 30px;
  }
  .books-lessons__books-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .books-lessons__audio-unit {
    max-width: 100%;
  }
  .profile__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .profile__content {
    max-width: 100%;
  }
  .profile__content-inner {
    grid-gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .profile__img {
    padding: 20px;
  }
  .modal-office-hours__content {
    padding: 20px 10px 40px;
  }
  .modal-office-hours__list-item {
    padding: 5px;
  }
  .modal-office-hours__list-item:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */